@import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap');

body {
    background-color: rgb(241, 241, 241);
    font-size: 1rem;
    margin: 0;
}

h1 {
    font-family: 'Cabin Sketch', cursive;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 40px;
}

#game-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin-bottom: 40px;
}

#buttons-container {
    margin: 16px auto 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controls {
    font-family: "Cabin Sketch", cursive;
    font-size: 1rem;
    width: 100px;
    padding: 9px 10px;
    margin: 12px 0px;
    border-radius: 10px;
    border: 1px solid rgb(134, 134, 134);
    background-color: rgb(216, 216, 216);
}

.controls:hover {
    transform: scale(0.985);
    background-color: rgb(207, 207, 207);
    cursor: pointer;
}

.controls:focus {
    outline: none;
}

.controls:active {
    -webkit-box-shadow: inset 0px 0px 5px #888;
    -moz-box-shadow: inset 0px 0px 5px #888;
    box-shadow: inset 0px 0px 3px #888;
}

.last-chosen {
    background-color: rgb(165, 165, 165)
}

#grid-status-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.status {
    font-family: 'Cabin Sketch', cursive;
}

#grid-container {
    display: grid;
    border: 1px solid black;
}

.cell {
    background-color: white;
}

#instructions {
    font-family: "Cabin Sketch", cursive;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instructions-items {
    line-height: 50px;
}

#author {
    font-family: "Cabin Sketch", cursive;
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    position: fixed;
    bottom: 0;
    height: 30px;
    width: 100%;
    background-color: rgb(216, 216, 216);
}

@media only screen and (max-width: 950px) {

    h1 {
        margin-bottom: 10px
    }

    #game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #buttons-container {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 16px auto 16px auto;
    }
    
    .controls {
        width: auto;
        margin: 0px 2px;
    }

    ul > li {
        display: inline;
        font-size: 0.8rem;
    }

    .middle {
        margin: auto 30px auto 30px;
    }

}

@media only screen and (max-width: 700px) {

    h1 {
        font-size: 2.5rem;
    }

    .controls {
        font-size: 0.8rem;
    }

    #grid-container {
        width: 350px;
        height: 350px;
    }

    ul > li {
        font-size: 0.6rem;
    }
}